<div class="row-fluid">
  <div class="col-md-12">
    <!--div class="well well-sm"-->
    <div class="row">

      <div class="panel panel-default panel-horizontal">
        <div class="panel-heading text-center" style="width:18em;">
          <p>
            <span class="fa fa-rmb"></span>
            <span class="wage"><%= job.wage_min %></span>~</p>
          <p>
            <span class="fa fa-rmb"></span>
            <span class="wage"><%= job.wage_max %></span>
            <span class="text-muted">/月</span>
          </p>
          <p><%= job.created_at %></p>
          <hr/>
          <span>
            <h5>南京</h5>
          </span>
        </div>
        <div class="panel-body">
          <div class="col-xs-12 col-md-12 section-box">
            <div class="email" style="padding-top: 10px;">小米科技</div>
            <h2><%= link_to(job.title, job_path(job), class: 'text-info', style: 'color: #00b38a;')%></h2>
            <p>
              这是一段职位描述。<br>
              这是一段职位描述。<br>
            </p>
            <hr/>
            <div class="row rating-desc">
              <div class="col-md-6">
                <span class="badge"><%= job_resume_user_count(job) %></span>人已投递
              </div>
              <div class="email col-md-6 text-right">
                <span><%= job.contact %></span>
              </div>
            </div>
          </div>
        </div>

        <div class="panel-footer text-center" style="width:4em">
          <% if current_user && current_user == job.user%>
          <%= link_to('Edit', edit_job_path(job), class: 'btn btn-sm btn-default') %><br>
          <%= link_to('Delete', job_path(job), method: :delete, data: {confirm:'Are you sure?'},class: 'btn btn-sm btn-default') %>
        <% else %>
          <button type="button" class="btn btn-default">
            <span class="fa fa-star" aria-hidden="true"></span>
          </button>
          <% end %>

        </div>

      </div>
    </div>
    <!--/div-->
  </div>
</div>
