<!--div class="well well-sm"-->
<div class="row">

  <div class="panel panel-default panel-horizontal">
    <div class="panel-heading text-center" style="width:18em">
      <p>
        <span class="fa fa-rmb"></span>
        <span class="wage"><%= job.wage_min %></span>~</p>
      <p>
        <span style="width: 5%"></span>
        <span class="fa fa-rmb"></span>
        <span class="wage"><%= job.wage_max %></span>
        <span class="text-muted">/月</span>
      </p>
      <p>
        <span style="width: 5%"></span><%= job.updated_at %></p>
      <hr/>
      <span>
        <h5>&nbsp;&nbsp;<i class="fa fa-map-marker"></i>&nbsp;<%= job.location %></h5>
      </span>
    </div>
    <div class="panel-body">
      <div class="col-xs-12 col-md-12 section-box">
        <div class="email" style="padding-top: 10px;"><%= job.user.company %></div>
        <%= link_to(job_path(job)) do%>
        <h3><%= job.title %></h3><% end %>
        <p>
          <%= simple_format(job.content) %>
        </p>
        <hr/>
        <div class="row rating-desc">
          <div class="col-md-6">
            <span class="badge"><%= job_resume_user_count(job) %></span>人已投递
          </div>
          <div class="email col-md-6 text-right">
            <span><%= job.contact %></span>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-footer text-center" style="width:4em">
      <% if current_user %>
      <% if current_user == job.user %>
      <%= link_to(edit_job_path(job), class: 'btn btn-default') do%>
      <i class="fa fa-cog" aria-hidden="true"></i><% end %><br><br>
      <%= link_to(job_path(job), method: :delete, data: {confirm:'Are you sure?'},class: 'btn btn-default') do%>
      <i class="fa fa-trash-o"></i><% end %>
    <% else %>
      <% if current_user.is_in_collection?(job) %>
      <%= link_to(cancel_from_collection_job_path(job), class: "btn btn-default", method: :post) do %>
      <span class="fa fa-heart text-danger" aria-hidden="true"></span><% end %>
      <label class="label label-success">已收藏</label>
    <% else %>
      <%= link_to(add_to_collection_job_path(job), class: "btn btn-default", method: :post) do %>
      <span class="fa fa-heart-o" aria-hidden="true"></span><% end %>
      <label class="label label-primary">未收藏</label>
      <% end %>
      <% end %>
    <% else %>
      <%= link_to(add_to_collection_job_path(job), class: "btn btn-default", method: :post) do %>
      <span class="fa fa-heart-o" aria-hidden="true"></span><% end %>
      <% end %>

    </div>

  </div>
</div>
<!--/div-->
