<div class="row jumbotron">
  <div class="row">
    <div class="col-md-7 col-md-push-5">
      <div class="row slogan">
        <p>
          <span class='text-muted'>你的降落伞准备好了吗？</span><br/>
          <i>Jump！</i>致力于帮助3～5年经验的人跳槽到下一个职场<br/>
          <a href="#" class="btn  btn-primary" style="margin-top:10px;" data-toggle="modal" data-target="#signup-modal">立即注册</a>
        </p>
      </div>

    </div>
  </div>
</div>

<div class="row innercontent">
  <div class="row well">
    <%= render 'common/search' %>
    <div class="col-md-6">
      <ul class='list-inline pull-right'>
        <li class="btn btn-link"><%= sort_link(@q, :updated_at, '更新时间', default_order: :desc) %></li>
        <li class="btn btn-link"><%= sort_link(@q, :wage_min, '薪资下限', default_order: :desc) %></li>
        <li class="btn btn-link"><%= sort_link(@q, :wage_max, '薪资上限', default_order: :desc) %></li>
      </ul>
    </div>

  </div>

  <div>
    <%= render :partial => 'job_item', :collection => @jobs, :as => :job %>
  </div>
  <div class="text-center">
    <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
  </div>
</div>
<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" backdrop="true" data-keyboard="true" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="loginmodal-container">
      <h2>Sign up</h2>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>
        <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
        <%= f.input :password_confirmation, required: true %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Sign up" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
