<div class="jumbotron">

  <h1 class="title" style="color:#fff">
    <br></h1>
  <p class="slogan">
    <span class='text-muted'>你的降落伞准备好了吗？</span>
    <i>Jump！</i>致力于帮助3～5年经验的人跳槽到下一个职场<a class="btn btn-lg btn-primary btn-circle" href="/jobs">上传简历</a>
  </p>
  <p class="lead"><br></p>

</div>
<div class="innercontent">
  <div class="row well">
    <%= render 'common/search' %>
    <div class="col-md-6">
      <ul class='list-inline pull-right'>
        <li class="btn btn-link"><%= sort_link(@q, :updated_at, '更新时间', default_order: :desc) %></li>
        <li class="btn btn-link"><%= sort_link(@q, :wage_min, '薪资下限', default_order: :desc) %></li>
        <li class="btn btn-link"><%= sort_link(@q, :wage_max, '薪资上限', default_order: :desc) %></li>
      </ul>
    </div>

  </div>

  <div>
    <%= render :partial => 'job_item', :collection => @jobs, :as => :job %>
  </div>
  <div class="text-center">
    <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
  </div>
</div>
