<div class="jumbotron">

  <h1 class="title" style="color:#fff">
    <br></h1>
  <p class="slogan">
    <span class='text-muted'>你的降落伞准备好了吗？</span>
    <i>Jump！</i>致力于帮助3～5年经验的人跳槽到下一个职场<a class="btn btn-lg btn-primary btn-circle" href="/jobs">上传简历</a>
  </p>
  <p class="lead"><br></p>

</div>
<div class="innercontent">
  <div class="row well">
    <div class="col-md-6">
      <%= render 'common/search' %>
    </div>
    <div class="col-md-6">
      <ul class='list-inline pull-right'>
        <li class="active btn btn-link"><%= link_to(jobs_path(:order => 'by_updated_at')) do %>更新时间<span class="fa fa-arrow-down"></span><% end %></li>
        <li class="btn btn-link"><%= link_to(jobs_path(:order => 'by_wage_min')) do %>薪资下限<span class="fa fa-arrow-down"></span><% end %></li>
        <li class="btn btn-link"><%= link_to(jobs_path(:order => 'by_wage_max')) do %>薪资上限<span class="fa fa-arrow-down"></span><% end %></li>
      </ul>
    </div>

  </div>

  <div>
    <%= render :partial => 'job_item', :collection => @jobs, :as => :job %>
  </div>
</div>
