<div class='container-fluid'>
  <div class="row">
    <p>
      <i class="fa fa-arrow-left"></i><%= link_to(jobs_path, class: 'btn btn-link') do %>
      返回职位列表<% end %></p>
  </div>

  <div class='row well'>
    <div class="col-md-2">
      <i class='fa fa-lock'></i>
      <p class='text-muted'>已有<%= job_resume_user_count(@job) %>人投递</p>
    </div>
    <div class='col-md-4'>
      <h2 class="bnb_middle_big" id='title' style="line-height:1.4em;"><%= @job.title %></h2>
      <div style="padding-top: 20px;">
        <p>薪资:
          <b style="font-size: 16px; color: rgb(224,69,60)"><%= @job.wage_min %>~<%= @job.wage_max %></b>
        </p>
        <p>职位要求</p>
        <p style="margin-top: 10px;">创建于<%= @job.created_at %></p>
      </div>
    </div>
    <div class="col-md-4">
      <p>发布人：<%= @job.user.email %></p>
      <p>联系方式：<%= @job.contact %></p>
    </div>
    <% if current_user && current_user == @job.user %>
    <%= link_to('修改', edit_job_path(@job), class: 'btn btn-primary pull-right') %>

  <% else %>
    <%= link_to('发个简历', new_job_resume_path(@job),class: 'btn btn-primary pull-right') %>
    <% end %>
  </div>

  <div class="row well" id='description_for_job'>
    <p>职位描述</p>
    <p><%= @job.content %></p>
  </div>

  <div class="row panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">公司介绍</h3>
    </div>
    <div class="panel-body">
      <p>此处是公司介绍</p>
    </div>
  </div>

</div>
