<div class="innercontent">
  <div class="row">
    <p>
      <i class="fa fa-arrow-left"></i><%= link_to(admin_jobs_path, class: 'btn btn-link') do %>
      返回管理面板<% end %></p>
  </div>

  <div class='well row'>
    <div class="row">
      <div class='col-md-12'>
        <h2><%= @job.title %></h2>
        <h4 class="text-muted"><%= @job.user.company %></h4>
      </div>
    </div>

    <div class="row">

      <div class="col-md-4" style="padding-top: 20px;">
        <p>
          <span style="font-size: 20px; color: rgb(224,69,60)"><%= @job.wage_min %>~<%= @job.wage_max %></span>
          <span>/月</span>
          <span>&nbsp;&nbsp;<i class="fa fa-map-marker"></i>&nbsp;<%= @job.location %></span>
        </p>
        <p style="margin-top: 10px;">
          <i class="fa fa-calendar"></i>&nbsp;<%= @job.created_at %></p>
      </div>

      <div class="col-md-4">
        <p>发布人：<%= @job.user.email %></p>
        <p>联系方式：<%= @job.contact %></p>
        <p class='text-muted'>已有<span class="badge"><%= job_resume_user_count(@job) %></span>人投递</p>
      </div>

      <div class="col-md-4">

        <% if current_user && current_user.admin? %>
        <%= link_to('修改', edit_admin_job_path(@job), class: 'btn btn-primary pull-right') %>
        <% end %>

      </div>
    </div>
  </div>

  <div class="row panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">职位描述</h3>
    </div>
    <div class="panel-body">
      <p><%= simple_format(@job.content) %></p>
    </div>
  </div>

  <div class="row panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">公司介绍</h3>
    </div>
    <div class="panel-body">
      <p>此处是公司介绍</p>
    </div>
  </div>
</div>
