<nav class='navbar navbar-default' role=' navigation'>
  <!-- Brand and toggle get grouped for better mobile dispaly -->
  <div class='navbar-header'>
    <a class='navbar-brand' href='/'>Jump!</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggle -->
  <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
    <ul class='nav navbar-nav'>
      <!-- <li>
        <a href="/jobs">职位</a>
      </li> -->
    </ul>
    <ul class='nav navbar-nav navbar-right'>
      <% if !current_user %>
      <li><%= link_to('登入', new_user_session_path) %></li>
      <li><%= link_to('注册', new_user_registration_path) %></li>
    <% else %>
      <% if current_user.admin? %>
      <li>
        <a class="btn btn-default btn-outline btn-circle" data-toggle="collapse" href="/admin/jobs" aria-expanded="false" aria-controls="nav-collapse1">
          <i class="fa fa-cog"></i>&nbsp;管理职位</a>
      </li>
    <% else %>
      <li>
        <a class="btn btn-default btn-outline btn-circle" data-toggle="collapse" href="/jobs/new" aria-expanded="false" aria-controls="nav-collapse1">
          <i class="fa fa-plus-square-o"></i>&nbsp;发布职位</a>
      </li>
      <% end %>

      <li class='dropdown'>
        <a href='#' class='dropdown-toggle' data-toggle='dropdown'><%= current_user.email %>
          <span class='caret'></span>
        </a>
        <ul class='dropdown-menu' role='menu'>
          <% if current_user.admin? %>
          <li><%= link_to('管理职位', admin_jobs_path) %></li>
          <li class='divider'></li>
          <% end %>
          <li><%= link_to('退出', destroy_user_session_path, method: :delete) %></li>
        </ul>
      </li>
      <% end %>
    </ul>
  </div>

</nav>
